/* Variables */
:root {
  --bold-font: 700;
  --primary-color: #999999;
}

html {
  scroll-behavior: smooth;
  background-color: rgba(33, 37, 41, 1);
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

.header {
  width: 70%;
  margin: auto;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  color: var(--primary-color);
}

/* Scoreboard */

.scoreboard {
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 20px 5px;
  display: flex;
  justify-content: space-evenly;
  color: var(--primary-color);
}

.scoreboard p {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
}

.scoreboard span {
  margin: auto 2rem;
}

/* Board */

.board {
  max-width: 68.75rem;
  width: 80%;
  text-align: center;
  margin: auto;
}

.grid-container {
  color: var(--primary-color);
  display: grid;
  margin: 20px auto;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  width: 21rem;
}

.grid-item {
  border: 1px solid var(--primary-color);
  font-weight: var(--bold-font);
  width: 7rem;
  height: 7rem;
  text-align: center;
  font-size: 3rem;
  line-height: 2.2;
}

.board .winner {
  color: var(--primary-color);
  font-weight: var(--bold-font);
}

.reset button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.reset button:hover {
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
  background-color: rgba(33, 37, 41, 1);
}

/* Footer */

.footer {
  text-align: center;
  color: var(--primary-color);
  margin-top: 2.5rem;
}

.footer p {
  margin: 0;
}

/* Media queries */

@media screen and (max-width: 860px) {

  .scoreboard p {
    font-size: 1.5rem;
  }

  .scoreboard span {
    margin: auto 1rem;
  }

  .grid-container {
    margin: 0 auto 15px;
    width: 18rem;
  }

  .grid-item {
    width: 6rem;
    height: 6rem;
  }
  
}

@media screen and (max-width: 500px) {

  .header h1 {
    font-size: 2rem;
  }

  .scoreboard p {
    font-size: 1rem;
  }

  .scoreboard span {
    margin: auto 1rem;
  }

  .grid-container {
    width: 15rem;
  }

  .grid-item {
    width: 5rem;
    height: 5rem;
  }

  .footer p {
    font-size: .75rem;
  }
  
}